name: Build ESPHome firmware

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Compile firmware
        uses: esphome/build-action@v6
        with:
          yaml-file: outputcontroller.yaml

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: |
            *.bin
            manifest.json
